.bottombar {
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: var(--secondary-background-color);
  border-top: var(--border);
  justify-content: start;
  align-items: center;
  gap: var(--small-padding);
  text-align: left;
  height: 80px;
  z-index: 1;
}

.controls {
  display: flex;
  gap: var(--small-padding);
  align-items: center;
}
