.bottombar {
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background-color: var(--secondary-background-color);
  border-top: var(--border);
  justify-content: start;
  align-items: center;
  gap: var(--small-padding);
  text-align: left;
  height: 80px;
  z-index: 1;
}

.controls {
  display: flex;
  gap: var(--small-padding);
  align-items: center;
  padding-left: var(--padding);
}

.controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none !important;
}

.artwork {
  width: 75px;
  height: 75px;
  background-size: cover;
  margin-right: var(--small-padding);
}
