#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.card {
  padding: var(--small-padding);
  border-radius: var(--border-radius);
  border: var(--border);
  display: flex;
  flex-wrap: wrap;
}

.content {
  position: absolute;
  top: 0;
  left: 280px;
  right: 0;
  bottom: 80px;
  overflow: hidden;
  padding: var(--small-padding) 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}
